.lists {
	background: lightgray;
}

.footer {
	text-align: center;
	vertical-align: bottom;
}

#intro {
	text-decoration: underline;
}

img {
	margin-top: 30px;
	margin-bottom: 30px;
}

body {
	background: gray;
}

p {
	padding: 20px;
	border: 3px ridge black;
}

table {
		margin: 15px;
		margin-top: 30px;
		height: 300px;
		font-family: arial;
		color: yellow;
		border-style: groove;
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/32/EscherichiaColi_NIAID.jpg");
}

h1 {
	font-family: impact;
	color: lightblue;
	font-size: 5em;
}

h2 {
	font-family: arial;
}

h3 {
	font-family: arial;
}

h4 {
	font-family: arial;
}


h5 {
	font-family: arial;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: red;
}

@media (max-width: 90%) and (min-width: 200px) {
	table {
		padding-top: 30px;
	}
}







